.back-top{

position:fixed;

bottom:105px;

right:25px;

width:55px;

height:55px;

border:none;

border-radius:50%;

background:#198754;

color:white;

font-size:20px;

cursor:pointer;

box-shadow:0 10px 25px rgba(0,0,0,.25);

transition:.3s;

z-index:9999;

}

.back-top:hover{

transform:translateY(-5px);

background:#157347;

}