.loader-screen{

position:fixed;
inset:0;

background:white;

display:flex;
flex-direction:column;

justify-content:center;
align-items:center;

z-index:999999;

}

.loader-logo{

font-size:70px;

animation:bounce 1s infinite;

}

.loader-screen h2{

margin:20px 0;

font-size:34px;

color:#198754;

}

.loader-bar{

width:250px;
height:8px;

background:#eee;

border-radius:20px;

overflow:hidden;

}

.loader-progress{

height:100%;

background:#198754;

animation:loading 2s linear forwards;

}

@keyframes loading{

from{
width:0;
}

to{
width:100%;
}

}

@keyframes bounce{

0%,100%{
transform:translateY(0);
}

50%{
transform:translateY(-12px);
}

}