.notfound{

min-height:100vh;

display:flex;
flex-direction:column;

justify-content:center;
align-items:center;

text-align:center;

padding:20px;

background:linear-gradient(135deg,#f8fbff,#eef8f2);

}

.notfound h1{

font-size:160px;

margin:0;

color:#198754;

font-weight:900;

}

.notfound h2{

font-size:40px;

margin:10px 0;

}

.notfound p{

font-size:20px;

color:#666;

margin-bottom:35px;

}

.home-btn{

padding:18px 40px;

background:#198754;

color:white;

text-decoration:none;

border-radius:999px;

font-weight:700;

transition:.3s;

}

.home-btn:hover{

background:#157347;

transform:translateY(-4px);

}

@media(max-width:768px){

.notfound h1{

font-size:110px;

}

.notfound h2{

font-size:30px;

}

}