.whatsapp-btn{

position:fixed;

right:25px;
bottom:25px;

width:65px;
height:65px;

border-radius:50%;

background:#25D366;

display:flex;
justify-content:center;
align-items:center;

font-size:36px;
color:white;

text-decoration:none;

box-shadow:0 10px 30px rgba(0,0,0,.25);

transition:.3s;

z-index:9999;

}

.whatsapp-btn:hover{

transform:scale(1.12);

background:#20ba5a;

}